body {
  margin:0;
  text-align: center;
  position: relative;
  top: -20px;
font-family: 'Merriweather', sans-serif;
}

h1 {
  font-family: 'Sacramento', cursive;
  padding-top: 100px;
  font-size: 5.625rem;
  color:  #66bfbf;
  margin: 50px auto 0 auto;

}

h2 {
  font-family: 'Merriweather', sans-serif;
  font-size: 2.5rem;
font-weight: normal;
  color: #66bfbf;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color:#11999e;
}
h4{
  color:white;
  font-size: 10px;
  letter-spacing: 5px;
  padding: 20px;
}
.tcloud {
  position: absolute;
  right: 400px;
  padding: 50px;
}

.bcloud {
  position: absolute;
  left: 450px;
}

.top-container {
  background-color: #e4f9f5;
position: relative;
padding-top: 100px;

}
.middle-container {
display: inline;

}
.bottom-container{
  color:black;
  padding: 10px;
}
.footer{
  background-color:#66bfbf;

padding: 40px 0 30px 20px;
}
.footer-link{
color: #11999e;
  display: inline;


}
a{
  color :white;
  font-family: sans-serif;
  text-decoration: none;
}
a:hover{
  color:#eaf6f6;
}
.skill-row{
  width:50%;
  line-height: 2;
  margin:100px auto 100px auto;
  text-align: left;
}

  .program{
    width:40%;
    height: 70%;
float: left;
margin-right: 30px;
  }
  .code{
    width:40%;
    float: right;
    margin-left: 30px;
    height: 70%;
  }
  .web{
    width:40%;
    height: 70%;
    float: left;
    margin-right: 30px;
  }
  .graphics{
    width:40%;
    height: 70%;
    float: right;
margin-left: 30px;
}
.firstbreak{
  width:7%;
  border-style: dotted;
border-top: 0;
border-width: 5px;
border-color: #EAF6F6;
margin:70px auto 70px auto;
}
.profile{
color: #40514e;
}
.skillsh2{
  color:#66bfbf;
}




.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: black;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: green;
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
